<div class="modal fade" style="margin-top:32px !important;" id="updateClient" tabindex="-1" aria-labelledby="UpdateClient" aria-hidden="true">
    <div class="modal-dialog modal-md rounded-0">
        <div class="modal-content rounded-0">
            <div class="modal-header rounded-0 ag-color-2">
                <h5 class="modal-title " style="margin-left: auto;color:white">Modification fiche</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <input type="hidden" ng-model="ficheToUpdate.idFiche">
                        <div class="row g-3 align-items-center mb-20">
                            <div class="col-4">
                                <label class="col-form-label">Libelle</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control rounded-0" ng-model="ficheToUpdate.libelle">
                            </div>
                        </div>

                        <div class="row g-3 align-items-center mb-20">
                            <div class="col-4">
                                <label class="col-form-label">Description</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control rounded-0" ng-model="ficheToUpdate.description">
                            </div>
                        </div>

                        <div class="row g-3 align-items-center mb-20">
                            <div class="col-4">
                                <label for="typologie" class="col-form-label">Categories</label>
                            </div>
                            <div class="col-8">
                                <select class="form-control form-select rounded-0" ng-model="ficheToUpdate.category">
                                    <option value="">Veuillez choisir la categories</option>
                                    <option ng-repeat="cat in allCategory" ng-value="cat.id" >{{cat.libelle}}</option>
                                </select>
                            </div>
                        </div>


                    </div>

            </div>
            <div class="modal-footer footer-bg">
                <button class="btn btn-sm text-nowrap hover-btn ag-color-2" 
                        data-bs-dismiss="modal">Annuler
                </button>
                <button class="btn btn-sm text-nowrap hover-btn ag-color-6" 
                        data-bs-dismiss="modal" 
                        ng-click="updateFiche(ficheToUpdate)">Enregistrer
                </button>
            </div>
        </div>
    </div>
</div>
</div>